DROP POLICY IF EXISTS \
Mission_Teacher_Manage\ ON writing_missions; CREATE POLICY \Mission_Teacher_Manage\ ON writing_missions FOR ALL USING (auth.uid() = teacher_id OR EXISTS (SELECT 1 FROM public.classes WHERE id = writing_missions.class_id AND teacher_id = auth.uid()));
