-- Enable Real-time for writing_missions
ALTER TABLE public.writing_missions REPLICA IDENTITY FULL;

DO \$\$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM pg_publication_tables 
        WHERE pubname = 'supabase_realtime' 
          AND tablename = 'writing_missions'
    ) THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE public.writing_missions;
    END IF;
END \$\$;

NOTIFY pgrst, 'reload schema';
